// Non-modular or client styles for .l-header region.
iframe {
    border: 0 !important;
}

.social-bar{
    padding: 10px;
    text-align: right;
}

.social-icons {
    list-style: none;
    a {
        display: inline-block;
        width: 32px;
        height: 32px;
        text-align: center;
        border: 1px solid $black;
        background-color: $white;
        border-radius: 100%;
        padding: 2px 0 0 2px;
        &:hover, &:focus{
            opacity: 0.7;
        }
    }
    span {
        display: none;
    }
}

.block-selecteurdelanguecontent-2{
    float: right;
    font-size: 0.8em;
}
.block-selecteurdelanguecontent, .block-selecteurdelanguecontent-2{ 
    ul{
        list-style: none;
        float: right;
        margin: 0;
        li{
            display: inline;
            padding: 0 0 0 10px;
            &.is-active{
                font-family: $header-font-family;
            }
            a{
                color: $black;
                background-color: rgba($white, 0.8);
                display: inline-block;
                border: 1px solid $black;
                padding: 1px 5px 2px 5px;
                text-transform: uppercase;
                &:hover, &:focus{
                    background-color: $light-gray;
                }
            }
        }
    }
}

.block-marquedusite{
    float:left;
    height: 50px;
    width: 50px;
    margin:5px 20px 5px 0;
}
.block-marquedusite-2{
    position: absolute;
    top: 12px;
    left: 45px;
    font-family: $header-font-family;
    a{
        color: $black;
    }
}

#header{
    width: 100%;
    background: $secondary-color;
    box-shadow: 2px 0px 3px rgba($black, 0.3);
    .top-bar-left {
        width: 100%;
        nav{
            display: block;
            float: left;
            margin: 0;
            padding: 0;
            li{
                padding-right: 15px;
            }
            a{
                transition: all 0.3s ease-out;
                padding: 25px 10px 25px 10px;
                border-color: transparent;
                border-width: 0 0 0 3px;
                border-style: solid;
                &:hover, &:focus, &.is-active{
                    border-color: $primary-color;
                }
                background-color: transparent;
            }
        }
    }
    .active {
        color: $primary-color;
        border-color: $primary-color;
    }
    .menu > li > a{
        color: $black;
        font-family: $header-font-family;
        text-transform: uppercase;
    }

}

@include breakpoint(medium up){
    #header{
        background: rgba($secondary-color, 0.8);
        .top-bar-left {
            width: 100%;
            nav{
                li{
                    padding-right: 15px;
                }
                a{
                    padding: 25px 0 18px 0;
                    border-width: 0 0 3px 0;
                }
            }
        }
        .top-bar-right {
            position: relative;
        }
    }
}