#content{
    padding: 10px;
    &.page-content{
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
h1{
    margin-bottom: .8em;
}
.anchor{
    display: block;
    position: relative;
    top: -100px;
}
.home-first{
    height: 100vh;
    background-image: url('../images/bg_eat_2020.jpg');
    background-size: cover;
    background-position: center;
    .home-title{
        text-indent: -4000px;
        margin-top: 11vh;
        text-align: center;
        height: 38vh;
        background-image: url('../logo.svg');
        background-repeat: no-repeat;
        background-position: top center;
    }
}
.transition{
    height: 20vh;
    background-image: url('../images/hp_background.jpg');
    background-size: cover;
    background-position: center center;
}
.main-intro{
    padding: 10px;
    margin-bottom: 1em;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    }
    
    .video-container iframe,
    .video-container object,
    .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#home-zone{
    color: $white;
    font-family: $header-font-family;
    font-size: 1.1em;

    .place, .date{
        display: inline-block;
        background: rgba($black, .7);
        padding: 3px 15px 3px 15px;
        margin: 5px;
        transform: rotate(-5deg);
    }
}
.section-header{
    display: inline-block;
    background: $primary-color;
    color: $white;
    line-height: 1em;
    padding: 5px 10px 3px 10px;
    margin: 0 0 0.8em 10px;
    transform: rotate(-5deg);
}

.section{
    padding: 55px 0 2em 0; 
}

.zone3{
    background-color: $primary-color;
    color: $white;
}
.block-wineteaser{
    padding: 0 10px 2em 10px;
    h2{
        display: inline-block;
        background: $white;
        color: $primary-color;
        line-height: 1em;
        padding: 5px 10px 3px 10px;
        margin: 1em 0 1.2em 10px;
        transform: rotate(-5deg);
    }
    .button{
        margin-top: 1em;
        color: $primary-color;
        background: $white;
    }
}
/* Presales */

.primary{
    color: $primary-color;
}
.em-small{
    font-family: $header-font-family;
}
.em-big{
    font-family: $header-font-family;
    font-size: 1.5em;
    line-height: 1.3em;
}
.block-presalefooter{
    padding: 10px;
}

.block-views-block-presale-block-1{
    margin-bottom: 1.5em;
    .views-row{
        article{
            color: $white;
            margin-bottom: 1em;
        }
        .presale-content{
            border-top: 2px solid $white;
            padding: 10px;
            h3{
                text-align: center;
            }
            ul{
                margin-top: 1.5em;
            }
            .em-big{
                margin-bottom: 0;
            }
            a {
                color: $white;

                &:hover, &:focus{
                    border-bottom: 2px solid $white;
                }
            }
        }
    }
    .first{
        article{
            background-color: $primary-color;
        }
    }
    .second{
        article{
            background-color: rgba($primary-color, .8);
        }
    }
    .third{
        article{
            background-color: $primary-color;
        }
    }
    .fourth{
        article{
            background-color: rgba($primary-color, .8);
        }
    }
}

/** End Presales **/

/** Chefs view **/

.views-element-container, .block-views-block-village-international-block-1, .block-nouveautes2019{
    padding: 10px;
    form{
        background: rgba($primary-color, .7);
        padding: 20px 20px 10px 20px;
        label{
            font-family: $header-font-family;
            font-size: 1.2em;
            color: $white;
        }
        .button{
            background: $white;
            font-family: $header-font-family;
            font-size: 1.2em;
            color: $primary-color;
            padding: 10px;
            margin-top: 10px;
            transform: rotate(-5deg);
            &:hover, &:focus{
                background: rgba($white, .7);
                color: $primary-color;
            }
        }
    }
    h2{
        display: inline-block;
        background: $primary-color;
        color: $white;
        line-height: 1em;
        padding: 5px 10px 3px 10px;
        margin: 1em 0 0.8em 10px;
        transform: rotate(-5deg);
    }
    .chef-teaser{
        z-index: 10;
        position: relative;
        margin-bottom: 20px;
        a{
            h3{
                position: absolute;
                font-size: 1.6em;
                top: 0;
                color: $white;
                padding: 10px 30px 0 10px;
                text-align: center;
            }
            .views-field-field-jour{
                position: absolute;
                bottom: 10px;
                ul{
                    list-style: none;
                    margin: 0;
                    li{
                        font-family: $header-font-family;
                        display: inline-block;
                        list-style-type: none;
                        color: $white;
                        background-color: rgba($black, .7);
                        padding: 0 10px 0 10px;
                        margin: 1px 10px 1px 10px;
                    }
                }
            }
            &:hover, &:focus{
                opacity: 0.8;
            }
        }
    }
}

/** End chefs view **/

/** Village international **/

.block-views-block-village-international-block-1, .block-views-block-village-international-teaser-block-1{
    .chef-teaser{
        overflow: hidden;
        h3{
            text-shadow:
            -1px -1px 0 #555,  
             1px -1px 0 #555,
             -1px 1px 0 #555,
              1px 1px 0 #555;
        }
    }
}

/** End village international **/

/** Food content page **/
.food-content{
    .field_jour{
        display: inline-block;
        padding: 0 10px 0 10px;
        margin: 5px 25px 20px 0;
        color: $white;
        background-color: $primary-color;
        font-family: $header-font-family;
        font-size: 1.2em;
        transform: rotate(-5deg);
    }
    .field_image{
        margin-bottom: .8em;
    }

    .field_menu{
        background-color: rgba($primary-color, .3);
        padding: 20px 20px 4px 20px;
        font-family: $header-font-family;
    }
    .team{
        font-size: 1.8em;
    }
    .field_intro{
        font-weight: bold;
    }
    .body{
        padding-top: 1.5em;
    }
}

/** End food content page **/

/** Special 2020 **/
.dinner-teaser{
    margin-bottom:20px;
    background-color: rgba($primary-color, .3);
    padding: 15px;
    a{
        color: $black;
        display: block;
    }
    .views-field-field-equipe{
        font-family: $header-font-family;
    }
    &:hover{
        background-color: rgba($primary-color, .5);
    }
}

/** End special 2020 **/

/** Vignoble content page **/
.vignoble-content{
    margin-top: 1em;
}
.block-views-block-vignerons-block-1{
    .vigneron-content{
        margin-bottom: 1em;
        .field_chateau{
            font-family: $header-font-family;
            font-size: 1.2;
            margin: 10px 0 10px 0;
        }
        .body{
            font-size: 0.9em;
            line-height: 0.9em;
            font-style: italic;
        }
    }
}
/** End vignoble content page **/

/** Vignobles view **/

.block-views-block-appelations-block-1{
    .appelation{
        .vignoble-content{
            background: $primary-color;
        }
        h3{
            padding: 10px;
            line-height: 1em;
        }
        a{
            color: $white;
            &:hover, &:focus{
                opacity: .7;
            }
        }
    }
}

.block-teaserecoleduvin{
    clear: both;
    padding-top: 2em;
    h2{
        margin-bottom: .5em;
    }
}

/** End vignobles view **/

@include breakpoint(medium up){
    #content{
        &.page-content{
            padding-top: 100px;
        }
    }
    #home-zone{
        font-size: 1.5em;
    }
    .section{
        padding: 3.5em 0 2em 0; 
    }
    .em-big{
        font-size: 2em;
        line-height: 1.4em;
    }
    .block-views-block-presale-block-1{
        .views-row{
            article{
                height: 600px;
                position: relative;
            }
            .price{
                position: absolute;
                bottom: 10px;
                z-index: 20;
            }
        }
    }
    .block-views-block-vignerons-block-1{
        .vigneron{
            h3{
                line-height: 1em;
                height: 55px;
            }
            height: 840px;
        }
    }
    .block-views-block-appelations-block-1{
        .appelation{
            .vignoble-content{
                h3{
                    height: 120px;
                }
            }
        }
    }
    .dinner-teaser{
        .views-field-field-equipe{
            font-size: 1.2em;
        }
    }
}

@include breakpoint(large up){
    #home-zone{
        font-size: 2em;
    }
    .block-views-block-presale-block-1{
        .views-row{
            article{
                height: 700px;
            }
        }
    }
    .block-views-block-appelations-block-1{
        .appelation{
            .vignoble-content{
                h3{
                    height: 130px;
                    font-size: 1.6em;
                }
            }
        }
    }
}