#content{
    padding: 10px;
    &.page-content{
        padding-top: 100px;
        padding-bottom: 30px;
    }
}
.home-first{
    height: 100vh;
    background-image: url('../images/hp_background.jpg');
    background-size: cover;
    background-position: center;
    .home-title{
        text-indent: -4000px;
        margin-top: 11vh;
        text-align: center;
        height: 38vh;
        background-image: url('../logo.svg');
        background-repeat: no-repeat;
        background-position: top center;
    }
}
#home-zone{
    color: $white;
    font-family: $header-font-family;
    font-size: 1.1em;

    .place, .date{
        display: inline-block;
        background: rgba($black, .7);
        padding: 3px 15px 3px 15px;
        margin: 5px;
        transform: rotate(-5deg);
    }
}
.section-header{
    display: inline-block;
    background: $primary-color;
    color: $white;
    line-height: 1em;
    padding: 5px 10px 3px 10px;
    margin: 0 0 0.8em 10px;
    transform: rotate(-5deg);
}

.section{
    padding: 55px 0 2em 0; 
}
/* Presales */

.primary{
    color: $primary-color;
}
.em-small{
    font-family: $header-font-family;
}
.em-big{
    font-family: $header-font-family;
    font-size: 1.5em;
    line-height: 1.3em;
}
.block-presalefooter{
    padding: 10px;
}

.block-views-block-presale-block-1{
    margin-bottom: 1.5em;
    .views-row{
        article{
            color: $white;
            margin-bottom: 1em;
        }
        .presale-content{
            border-top: 2px solid $white;
            padding: 10px;
            h3{
                text-align: center;
            }
            ul{
                margin-top: 1.5em;
            }
            .em-big{
                margin-bottom: 0;
            }
            a {
                color: $white;

                &:hover, &:focus{
                    border-bottom: 2px solid $white;
                }
            }
        }
    }
    .first{
        article{
            background-color: $primary-color;
        }
    }
    .second{
        article{
            background-color: rgba($primary-color, .8);
        }
    }
    .third{
        article{
            background-color: $primary-color;
        }
    }
    .fourth{
        article{
            background-color: rgba($primary-color, .8);
        }
    }
}

@include breakpoint(medium up){
    #home-zone{
        font-size: 1.5em;
    }
    .section{
        padding: 120px 0 2em 0; 
    }
    .em-big{
        font-size: 2em;
        line-height: 1.4em;
    }
    .block-views-block-presale-block-1{
        .views-row{
            article{
                height: 600px;
                position: relative;
            }
            .price{
                position: absolute;
                bottom: 10px;
                z-index: 20;
            }
        }
    }
}

@include breakpoint(large up){
    #home-zone{
        font-size: 2em;
    }
    .block-views-block-presale-block-1{
        .views-row{
            article{
                height: 700px;
            }
        }
    }
}